
@import "./utils/variables";
@import "./utils/nullstyle";
@import "./components/page-header";
@import "./components/main-nav";
@import "./components/logo";
@import "./components/site-nav";
@import "./components/auth-nav";
@import "./components/container";
@import "./components/portfolio";
@import "./components/button";
@import "./components/footer";




body {
    background-color: $background-color;  
    color: $primery-text-color;
    font-family: $main-font;
 }

img {
    display: block;
    max-width: 100%;
    height: auto;
 }
 