.auth-nav {
    display: flex;
    margin-left: auto;
 
  .item +.item {
    margin-left: 30px;
 }

  .link{
   display: flex;
   align-items: center;
   padding-top: 32px;
   padding-bottom: 32px;

   color: $primery-text-color;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
}

  .icon {
   margin-right: 10px;
   fill: $primery-text-color;
}

 & .link:hover, & .link:focus{
   color: $accent-color;
   transition: $transition-fuction;
}

 & .link:hover svg, & .link:focus svg{
   fill: $accent-color;
   transition: $transition-fuction;
}
}
  
 
  