
    $primery-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $text-white-color: #FFFFFF;
    $footer-copyright-color: rgba(255, 255, 255, 0.4);
    $footer-background-link-color: rgba(255, 255, 255, 0.1);
    $background-color: #FFFFFF;
    $primery-logo-color:  #212121;
    $secondary-logo-color:  #2196F3;
    $footer-logo-color: #FFFFFF;
    $button-bg-color: #2196F3;
    $background-button-portfolio: #F5F4FA;
    $background-color-footer: #2F303A;
    $background-hero: rgba(47, 48, 58, 0.8);
    $background-team: #F5F4FA;
    $icon-color: #AFB1B8;
    $background-popup-text: rgba(33, 150, 243, 0.9);
    $transition-fuction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $background-form: rgba(0, 0, 0, 0.2);

    $main-font: Roboto, sans-serif;
    $logo-font: Raleway;

    
    
